################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GiaoDien/.vs
/GiaoDien/GiaoDien/obj
/GiaoDien/GiaoDien/bin
